/*Open Sans*/
@font-face {
  font-family: "OpenSans sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans serif";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "OpenSans serif";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}


body {
  font-size: 17px;
}
body, h1, h2, h3, h4, h5, h6, .h1 {
  font-family: "OpenSans sans", helvetica, sans-serif;
}

span.imgMe {
  display: inline-block;
  background-image: url('../whoami.jpg');
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.btn.btn-warning::before {
  content:"otharwa@navebinario.com";
}
img.logo1 {
  background-color: white;
  padding: 1px;
  width: 80px;
}
img.logo0 {
  width: 120px;
}
img.logo2 {
    height: 100%;
}
.benefit-ball img{
  width: 100px;
}
html body .benefit .benefit-ball.transparent {
  background: transparent;
}
.binario div.social > * {
  display: inline-block;
  line-height: 0;
  padding: 6px;
}
.binario div a img,
.binario div span img {
  height: 60px;
  width: auto;
  display: inline-block;
}
.binario div span a {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.btn {
  border-radius: 2px;
}
.container {
  max-width: 920px;
}
.navbar {
  background: #111;
  padding: 0.3em 0;
}
.navbar .navbar-brand {
  color: #fff;
  font-family: "OpenSans serif", georgia, serif;
  font-weight: bold;
  padding: 5px 5px;
}
.navbar ul.nav li a {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5em;
}
.navbar ul.nav li button {
  margin: 0.7em 0 0 1em;
}

div.container div.row { text-align: center;}

#top.binario { position: relative; }
#bitcoin {
  position: absolute;
  right: 10px;
  padding: 6px;
  line-height: 0.5em;
  bottom: 13px;
  top: auto;
}
#bitcoin a {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
#bitcoin img {
  display: block;
}
.binario {
  background: url(../img/noisy_net.png);
  color: #fff;
  padding: 5.5em 0 6em;
  text-align: center;
}
.binario h1,
.binario .h1 {
  font-family: "OpenSans serif", georgia, serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}
.binario .h1 {
  font-size: 2.2em;
}
.binario h1 {
  font-size: 2em;
  margin-bottom: 0.9em;
}
.binario h2,
.binario .h2 {
  font-size: 1.7em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1em;
}
.binario h2 {
  margin-top: 3.3em;
}
.binario .btn {
  box-shadow: 1px 1px 3px #000;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em 2.5em 0.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.sect-border {
  border-top: 1px dashed #d6d6d6;
  border-bottom: 1px dashed #f6f6f6;
  margin: 2em 8% 2.4em;
}
.subhead {
  color: #000;
  font-family: "OpenSans serif", georgia, serif;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  margin: 0.3em 0;
}

li.benefit {
  list-style: none;
  display: inline-block;
  width: 150px;
  margin: 0.8em 0.2em;
  vertical-align: middle;
  line-height: 1.1em;
}
.benefit .benefit-ball {
  background: #428bca;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 1em;
  padding: 2.2em;
}
.benefit .benefit-ball .glyphicon {
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.benefit h3 {
  color: #000;
  font-family: "OpenSans serif", georgia, serif;
  font-size: 1.5em;
  font-weight: bold;
}

.form-horizontal .form-group {
  width: 40%;
  display: inline-block;
  margin: 5px 10px;
}

form { position: relative; }
form .info-box {
  margin-top: 0;
  color: #333;
  padding: 8px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0.0;
  font-size: 0.9em;

  transition-delay: 0s;
  transition-duration: 0.7s;
  transition-property: all;
  transition-timing-function: ease;

  -moz-transition-delay: 0s;
  -moz-transition-duration: 0.7s;
  -moz-transition-property: all;
  -moz-transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.7s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
}
form .info-box.show {
  visibility: visible;
  opacity: 1.0;
  margin-top: 10px;
}
#contacto form button { margin: 5px;}
footer {
  background: #111;
  color: #fff;
  margin: 3.5em 0 0;
  padding: 1.5em 0 0.8em;
}
@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .binario {
    font-size: 17px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
  .binario div.social { padding-left: 0 !important;}
  #bitcoin {
    display: block !important;
    position: relative;
    text-align: right;
    margin-top: 10px;
  }
  #bitcoin a {
    display: block;
    width: 100%;
    text-align: right;
  }
  #bitcoin img {
    display: inline;
  }
  .benefit .benefit-ball {
    padding: 20px;
  }
  div.container div.row { text-align: left;}
  div.container div.row  .benefit { text-align: center;}
  footer .pull-left,
  footer .pull-right { float: none !important; text-align: center; }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }
  .binario {
    font-size: 13px;
  }
  footer .pull-right {
    display: none;
  }
  #bitcoin {
    display: block !important;
    position: relative;
    text-align: right;
    margin-top: 10px;
  }
  #bitcoin a {
    display: block;
    width: 100%;
    text-align: right;
  }
  #bitcoin img {
    display: inline;
  }
  .benefit .benefit-ball {
    padding: 0 !important;
  }
  .benefit-ball img{
    width: 75%;
  }
  div.container div.row { text-align: left;}
  div.container div.row  .benefit { text-align: center;}
}

/***
# Autor: Sebastian Arca <sebastianarca@gmail.com>
# DNI:; 36724020
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation; either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General
# Public License along with this program.  If not, see
# <http://www.gnu.org/licenses/>.
***/
